---
import { Footer } from "@guardian/source-react-components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Basecamp</title>
  </head>
  <body>
    <h1>Let’s get this started</h1>
  </body>
  <Footer />
</html>

<style></style>
