---
import { Button, Footer } from "@guardian/source-react-components";
import { Example } from "../components/Example";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Basecamp</title>
  </head>
  <body>
    <h1>Food by Basecamp</h1>

    <Example />

    <Button client:only>Click me</Button>

    <Footer client:only />
  </body>
  <script>
    import { sheet } from "@emotion/css";

    sheet?.speedy(false);
  </script>
</html>

<style>
  body {
    color: #111;
  }
</style>
